# Explore here

In [1]:
# Your code here
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/Lake_Bilancino.csv')

df

,Date,Rainfall_S_Piero,Rainfall_Mangona,Rainfall_S_Agata,Rainfall_Cavallina,Rainfall_Le_Croci,Temperature_Le_Croci,Lake_Level,Flow_Rate
0,03/06/2002,NaN,NaN,NaN,NaN,NaN,NaN,249.43,0.31
1,04/06/2002,NaN,NaN,NaN,NaN,NaN,NaN,249.43,0.31
2,05/06/2002,NaN,NaN,NaN,NaN,NaN,NaN,249.43,0.31
3,06/06/2002,NaN,NaN,NaN,NaN,NaN,NaN,249.43,0.31
4,07/06/2002,NaN,NaN,NaN,NaN,NaN,NaN,249.44,0.31
...,...,...,...,...,...,...,...,...,...
6598,26/06/2020,0.0,0.0,0.0,0.0,0.0,22.50,250.85,0.60
6599,27/06/2020,0.0,0.0,0.0,0.0,0.0,23.40,250.84,0.60
6600,28/06/2020,0.0,0.0,0.0,0.0,0.0,21.50,250.83,0.60
6601,29/06/2020,0.0,0.0,0.0,0.0,0.0,23.20,250.82,0.60
6602,30/06/2020,0.0,0.0,0.0,0.0,0.0,22.75,250.80,0.60

In [4]:
df_2 = df[['Date','Lake_Level']]

df_2

            Date  Lake_Level
0     03/06/2002      249.43
1     04/06/2002      249.43
2     05/06/2002      249.43
3     06/06/2002      249.43
4     07/06/2002      249.44
...          ...         ...
6598  26/06/2020      250.85
6599  27/06/2020      250.84
6600  28/06/2020      250.83
6601  29/06/2020      250.82
6602  30/06/2020      250.80

[6603 rows x 2 columns]

In [5]:
df_2.index = df_2['Date']

df_2

                  Date  Lake_Level
Date
03/06/2002  03/06/2002      249.43
04/06/2002  04/06/2002      249.43
05/06/2002  05/06/2002      249.43
06/06/2002  06/06/2002      249.43
07/06/2002  07/06/2002      249.44
...                ...         ...
26/06/2020  26/06/2020      250.85
27/06/2020  27/06/2020      250.84
28/06/2020  28/06/2020      250.83
29/06/2020  29/06/2020      250.82
30/06/2020  30/06/2020      250.80

[6603 rows x 2 columns]

In [7]:
df_2.drop('Date', axis=1, inplace=True)

df_2

C:\Users\felip\AppData\Local\Temp\ipykernel_4120\1964984335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.drop('Date', axis=1, inplace=True)

            Lake_Level
Date
03/06/2002      249.43
04/06/2002      249.43
05/06/2002      249.43
06/06/2002      249.43
07/06/2002      249.44
...                ...
26/06/2020      250.85
27/06/2020      250.84
28/06/2020      250.83
29/06/2020      250.82
30/06/2020      250.80

[6603 rows x 1 columns]